/*///// CART /////////////////////////////////////////////////////////////////////////////*/

/* padding & margin */
.padding-l-20 {
  padding-left: 15rem !important;
  padding-right: 16rem !important;
}

.margin-t-10 {
  margin-top: 2.5rem;
}

/* images */
.img-icono {
  padding-bottom: 10px;
  width: 15px;
}

.img-cart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
}

.img-disc-cart {
  position: absolute;
  top: 13px;
  left: 100px;
  width: 100%;
  height: 185px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.cart-delete-icon {
  width: 20px;
  float: right;
}

/*button*/

.radius-r {
  border-top-right-radius: 2.5rem !important;
  border-bottom-right-radius: 2.5rem !important;
}

.radius-l {
  border-top-left-radius: 2.5rem !important;
  border-bottom-left-radius: 2.5rem !important;
}

.btn-less-more{
height: 2rem;
}

.btn-group {
  padding-top: 178px;
  float: right !important;
}

.btn-pay {
  width: 8rem;
  letter-spacing: 3px;
  margin-left: 1.2rem;
}

.p-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 6rem;
}

/* diferentes tamaños */
@media only screen and (min-width: 280px) and (max-width: 991px) {
  .padding-l-20 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  /*tamaño de las images de los album */
  .img-cart {
    height: 200px;
  }
  .img-disc-cart {
    height: 170px;
  }

  /* botones + y- */
  .btn-group {
    padding-top: 25px !important;
    float: none !important ;
  }

  .cart-delete-icon {
    width: 15px;
  }

  .p-fixed {
    position: static !important;
    bottom: 0;
    right: 0;
    margin-right: 2rem !important;
    margin-bottom: 3rem;
  }
}

/* #endregion */
