.img-album {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 250px;
  }
  
  .img-vinyl {
    position: absolute;
    top: 0;
    left: 70px;
    width: 80%;
    height: 250px;
  }

.lbl-titulo {
  width: 100%;
  word-wrap: break-word;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.lbl-precio {
  padding-top: 15px;
  padding-right: 80px;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
}

/*position*/
.relative-div {
  position: relative;
  top: 0;
  right: 0;
}

.abs-icon {
  position: absolute;
  top: 48px;
  right: 40px;
}
.white-input {
  background-color: rgba(0, 0, 0, 0);

  color: rgb(0, 0, 0);
  text-align: start;
  font-size: 15px;
  font-family: 'Inter', sans-serif;

  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 40px;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-width: 1px;
  outline: none;
}

.img-icon{
  width: 20px;
  height: 20px;
}
